@font-face {
  font-family: "squid-craft-icons";
  src: url("~/assets/icons/squid-craft-icons.eot?el41c1");
  src: url("~/assets/icons/squid-craft-icons.eot?el41c1#iefix")
      format("embedded-opentype"),
    url("~/assets/icons/squid-craft-icons.ttf?el41c1") format("truetype"),
    url("~/assets/icons/squid-craft-icons.woff?el41c1") format("woff"),
    url("~/assets/icons/squid-craft-icons.svg?el41c1#squid-craft-icons")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="squid-craft-icon-"],
[class*=" squid-craft-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "squid-craft-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.squid-craft-icon-home:before {
  content: "\e900";
}
.squid-craft-icon-list:before {
  content: "\e901";
}
.squid-craft-icon-streamers:before {
  content: "\e902";
}
.squid-craft-icon-news:before {
  content: "\e903";
}
